<p id="notice"><%= notice %></p>

<h1>User Profile</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td> Email: <%= @user.email if !@user.email.nil? %></td>
      </tr>
      <tr>
      	<%if !@user.first_name.nil?%>
        <td> Full Name: <%= @user.first_name %> <%= @user.last_name if !@user.last_name.nil?%></td>
        <% end %>
      </tr>
      <tr>
      	<%if !@user.gender.nil? %>
        <td> Gender: <%= @user.gender %></td>
        <% end %>
       </tr>
       <tr>
       	<%if !@user.link.nil? %>
        <td>Facebook Link: <%= @user.link %></td>
          <% end %>
      </tr>
  </tbody>
</table>
<br>
<%= user_signed_in? ? link_to('Log Out', destroy_user_session_path, :method => :delete) : link_to('Log In', new_user_session_path) %>
