<p id="notice"><%= notice %></p>

<h1>User Profile</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @user.email if !@user.email.nil? %></td>
      </tr>
      <tr>
        <td><%= @user.first_name if !@user.first_name.nil? %> <%= @user.last_name if !@user.last_name.nil?%></td>
      </tr>
      <tr>
        <td><%= @user.gender if !@user.gender.nil? %></td>
       </tr>
       <tr>
        <td><%= @user.link if !@user.link.nil? %></td>
      </tr>
  </tbody>
</table>
<br>
<%= user_signed_in? ? link_to('Log Out', destroy_user_session_path, :method => :delete) : link_to('Log In', new_user_session_path) %>
